* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
}
.header{
  display: flex;
  justify-content: space-between;
  background-color: #2a2a2a;
  padding-left: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 80px;
  padding-right: 0;
  align-items: stretch;
}

.header_leftside{
  display: flex;
  align-items: centre;
}
.header_rightside{
  display: flex;
  align-items: center;
}
.header_center{
  display: flex;
  flex: 1;
  position: relative;
  justify-content: center;
  align-items: center;

}
.logo{
  height: 65px;
  margin-top: 5px;
  margin-left: 35px;
  width: 60px;
  border-radius: 100%;
}
.footer {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 60px;
  height: auto;
  background-color: #1f1f1fea;
  color: #ccc;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
.footer_leftside{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.footer_rightside{
  display: flex;
  align-items: center;
}
.export_card{
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 18px;
  height: 100%;
  color: white;
  font-size: 20px;
  
  border-radius: 0;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0,0,0,0),-2px 2px 8px rgba(0,0,0,0.4);
  transition: box-shadow 0.2s ease, transform 0.4s ease, background-color 0.8s ease;
}
.export_card:hover{
  background: #242424d3;
  transform: translateX(-2px);
  box-shadow: 0 -6px 15px rgba(79, 29, 138, 0.863);
}
h1{
  color: #ddd;
  font-family: "Goudy Old Style";
  font-size: 60px;
  letter-spacing: 2px;
  font-weight: 800;
}
h3{
  color: white;
}
.logout_card{
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 18px;
  height: 100%;
  color: white;
  font-size: 20px;
  
  border-radius: 0;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0,0,0,0),-2px 2px 8px rgba(0,0,0,0.4);
  transition: box-shadow 0.2s ease, transform 0.4s ease, background-color 0.8s ease;
}
.logout_card:hover{
  background: #242424d3;
  transform: translateX(-2px);
  box-shadow: 0 6px 15px rgba(79, 29, 138, 0.863);
}

.layout {
  min-height: calc(100vh - 80px);
  display: flex;
}



.sidebar {
  width: 220px;
  flex: 0 0 220px;
  background: #191919;
  border-right: 1px;
  padding: 16px;
  height: calc(100vh - 80px);
}



.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav a {
  display: block;
  padding: 14px 18px;
  text-decoration: wavy;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s ease, transform 0.2s ease, background-color 0.8s ease;
}

.nav a:hover {
  background: #242424d3;
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(79, 29, 138, 0.863);
}



.content {
  flex: 1;
  padding: 24px;
  overflow-x: hidden;
  height: calc(100vh - 80px);
  background:radial-gradient(circle at top, #2e2e2e 0%, #1f1f1f 80%);
  color: white;
}


.page {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}



.graphs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}

.graph {
  grid-column: span 12;
  background: #303030;
  border: 1px solid rgba(142, 142, 142, 0.519);
  border-radius: 12px;
  padding: 16px;
}


@media (min-width: 900px) {
  .graph.half {
    grid-column: span 6;
  }
}


.chartWrap {
  position: relative;
  height: 320px;
  width: 100%;
}

.chartWrap canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.table-wrap {
  overflow-x: auto;
  margin-top: 16px;
}

table {
  width: 100%;
  border: #4c00ff;
  border-collapse: collapse;
  background: #8aa3ff;
  color: solid rgb(255, 255, 255);
  font-size: 14px;
}

thead {
  background: #3c6dc8;
}

th,
td {
  padding: 10px 12px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.15);
  vertical-align: top;
}

th {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.04em;
}

tbody tr:nth-child(even) {
  background: rgba(6, 6, 10, 0.03);
}

tbody tr:hover {
  background: rgba(251, 251, 222, 0.08);
}


td pre {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
  font-family: monospace;
  font-size: 12px;
  color: #000000;
}

#decisionModel {
  display:none; 
  position:fixed; 
  top:0; 
  left:0; 
  width:100%; 
  height:100%;
   background:rgba(0,0,0,0.4);
}

#pop-up-container{
  background:#ffffff; 
  padding:20px; 
  width:400px; 
  margin:10% auto; 
  border-radius:6px;
  color: #191919;
}


button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

button:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

button:active {
  transform: translateY(2px);
  transition-duration: .35s;
}


#save-btn{
  margin-top: 10px;
  margin-left: 80%;
  font-size: 14px;

}

#pop-up-title{
  color: #000000;
}

#export-btn {
  font-size: 20px;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 18px;
  height: 100%;
  color: white;
  background: #1f1f1fea;
  border-radius: 0;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0,0,0,0),-2px 2px 8px rgba(0,0,0,0.4);
  transition: box-shadow 0.2s ease, transform 0.4s ease, background-color 0.8s ease;
}

#export-btn:hover {
  font-size: 20px;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #242424d3;
  transform: translateX(-2px);
  box-shadow: 0 -6px 15px rgba(79, 29, 138, 0.863);
}

#export-btn:active {
  transform: 0px;
  transition-duration: 0s;
}