<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title injected from FastAPI-->
    <title>{{ title }}</title>
    <!-- CSS injected from FastAPI-->
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header class="header">
        <div class="header_leftside">
            <img src="static/css/TestLogo.png" class="logo">
        </div>
        <div class="header_center">
        <h1>Dashboard</h1>
        </div>
        <div class="header_rightside">
            <a id="logoutButton" class="logout_card">Logout</a>
        </div>
    </header>
    <div class="layout">
        <aside class="sidebar">
        <nav class="nav">
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/decisionLog">Decision Log</a>
            <a href="/parameters">Parameters</a>
            <!---<a href="/balancing">Balancing</a>--->
            <a href="/simulation">Simulation Mode</a>
            <!---<a href="">Telemetry Overview</a>--->
            <!---<a href="">Funnel View</a>--->
            
        </nav>
        </aside>

    <main class="content">
      {% block content %}{% endblock %}
    </main>
  </div>
  <footer class="footer">
        <div class="footer_leftside"><h2>Accessibility</h2>
        </div>
        <h2>Support Information</h2>
        <div class="footer_rightside">
            <button id="export-btn" class="export_card">EXPORT</button>
        </div>
    </footer>
</body>
<script>
    document.getElementById("export-btn").addEventListener("click", function () {
        window.location.href = "/dashboard/export/csv";
    });
    if (sessionStorage.getItem("isLoggedIn") !== "loggedIn" && localStorage.getItem("isLoggedIn") !== "loggedIn") {
        window.location.href = "/login";
        };
    document.getElementById("logoutButton").addEventListener("click", function(){
        sessionStorage.removeItem("isLoggedIn");
        localStorage.removeItem("isLoggedIn");
        window.location.reload()
    })
</script>
</html>
