{% extends "base.html" %}

{% block content %}
  <h2>Telemetry</h2>

  <table>
    <thead>
      <tr>
        <th>Time</th>
        <th>User</th>
        <th>Stage</th>
        <th>Event Type</th>
        <th>Data</th>
       

      </tr>
    </thead>
    <tbody>
      {% for r in telemetry_rows %}
        <tr>
          <td>{{ r.dateTime }}</td>
          <td>{{ r.user_id }}</td>
          <td>{{ r.stage_id }}</td>
          <td>{{ r.telemetry_type }}</td>
          <td>{{ r.data }}</td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}