
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/loginStyle.css">
    </head>

    <body>
        <div class="loginBox">
            <h1>SIGNUP</h1>

            <form method="POST" action="/register">

                {% if error %}
                <div class="loginError">{{ error }}</div>
                {% endif %}
                <input name="username" type="text" placeholder="Username" required>
                <input name="email" type="email" placeholder="Email Address">
                <input name="password" type="password" placeholder="Password" required>

                <div class="annoyingRow2">
                    <input type="submit" value="REGISTER">
                </div>
            </form>

            <a href="/login" class="loginButton">BACK TO LOGIN</a>
            
        </div>
    </body>
</html>