{% extends "base.html" %}
{% block content %}

<h2>Simulation</h2>
<div id="sim-page-container">
    <section id="sim-left">
    <div>
    <label>Number of Tests to Run</label>
    </div>

    <input id="TestCountInput" rows="2" style="width:10%"></textarea>


    <div>
        <label>Level to be Tested</label>
    </div>

    <input id="TestLevelInput" rows="2" style="width:10%"></textarea>

    <div>
        <button id="test-btn">Commence Test</button>
    </div>

    </section>

    <section id="sim-right">
        <table id="testTable">
            <thead>
            <tr>
                <th>Test Success Rate</th>
                <th>Suggested Follow-up Action</th>
            </tr>
            </thead>
            <tbody>
                <!--will fill with results from python tests script-->
            </tbody>
        </table>
    </section>

</div>

<script>
    document.getElementById("test-btn").addEventListener("click", runTest);

    async function rTest() {
        const response = await fetch("http://127.0.0.1:8000/simulation");
        const data = await response.json();
        
    }
</script>
{% endblock %}